.logo {
  display: flex;
  align-items: center;
}

.logo__button {
  width: 209px;
  height: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../vendor/images/LogoFull.svg");
  &:hover {
    opacity: 0.7;
  }
}
