@import '../../../styles/abstract/mixins';

.navLinkWrapper {
    transition: opacity 0.3s;
}

.navLinkWrapper:hover {
    opacity: 0.8;
}

.navLinkWrapper:active {
    opacity: 0.6;
}

.navLink {
  @include navText;
 }

@media screen and (max-width: 1199px) {
  .navLinkWrapper {
    padding: 10px;
  }

  .navLink {
    font-size: 16px;
  }
}

