@import '../../../styles/abstract/placeholders';
@import '../../../styles/abstract/constants';

.navLinkWrapper {
    transition: opacity 0.3s;
}

.navLinkWrapper:hover {
    opacity: 0.8;
}

.navLinkWrapper:active {
    opacity: 0.6;
}

.navLink {
  @extend %font-display;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: $grey;
}



