@import '../../../styles/abstract/mixins';

.navLinkWrapper {
    transition: opacity 0.3s;
}

.navLinkWrapper:hover {
    opacity: 0.8;
}

.navLinkWrapper:active {
    opacity: 0.6;
}

.navLink {
  @include navText;
 }



