  //Colors
  $white: #FFF;
  $buttonWhite: #FBFBFB;
  $lightGrey: #D9D9D9;
  $grey: #666666;
  $darkGrey: #3E3E3E;
  $gradientGrey: #12121260;
  $ellipseGrey: #121212;
  $borderGrey: #CECECE;
  $shadowGrey: #00000015;
  $blue: #0B457F;
  $hoverBlue: #006CD8;

  //Radii
  $radiusBlock: 12px;
  $radiusButton: 12px;

