@import '../../../../styles/abstract/constants';
@import '../../../../styles/abstract/mixins';
@import '../../../../styles/abstract/placeholders';


.button {
  @extend %font-display;
  border: 1px solid $white;
  background-color: transparent;
  transition: all 0.3s;
  margin: 0;
  padding: 14px 28px;
  border-radius: $radiusButtonBordered;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  letter-spacing: 0.46px;
  text-align: left;
  color: $white;

  &:hover {
    background-color: $whiteHover;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    cursor: unset;
  }

  &:disabled:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .button {
    padding: 12px 24px;
  }
}
