@import '../../styles/abstract/constants';

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 850px;
}

.navigation__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 56px;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 591px;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .navigation {
    width: 830px;
  }

  .navigation__buttonWrapper {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    width: auto;
    gap: 24px;
  }
    .burger__items {
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100vw;
        padding: 0;
        margin: 0;
        z-index: 2;
    }

    .burger__items_active {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navigation__list {
        position: fixed;
        top: 0;
        right: 0;
        list-style: none;
        display: flex;
        background-color: $white;
        height: 100vh;
        width: 340px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        opacity: 1;
        z-index: 2;
        padding: 100px 0 0 0;
        margin: 0;
        box-sizing: border-box;
        min-width: auto;
    }
}

@media screen and (max-width: 599px) {
  .navigation {
  }
  .navigation__buttonWrapper {
    display: none;
  }
}

