.page {
  min-width: 360px;
}

.main {
  padding-top: 162px;
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .main {
    max-width: calc(100% - 150px);
  }
}

@media screen and (max-width: 1199px) {
  .main {
    max-width: calc(100% - 172px);
  }
}

@media screen and (max-width: 1024px) {
  .main {
    max-width: 852px;
  }
}

@media screen and (max-width: 899px) {
  .main {
    max-width: calc(100% - 88px);
    padding-top: 120px;
  }
}

@media screen and (max-width: 599px) {
  .main {
    max-width: calc(100% - 40px);
    padding-top: 100px;
  }
}
