@import '../../styles/abstract/constants';
@import '../../styles/abstract/placeholders';

.header {
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 6px $shadowGrey;
  background-color: $white;
}

.header__wrapper {
  border-bottom: 1px solid $borderGrey;
}

.header__nav {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 0;
}

@media screen and (max-width: 1440px) {
  .header__nav {
    max-width: calc(100% - 150px);
  }
}

@media screen and (max-width: 1199px) {
  .header__nav {
    max-width: calc(100% - 172px);
  }
}

@media screen and (max-width: 1024px) {
  .header__nav {
    max-width: 852px;
  }
}

@media screen and (max-width: 899px) {
  .header__nav {
    max-width: calc(100% - 88px);
  }
}

@media screen and (max-width: 599px) {
  .header__nav {
    max-width: calc(100% - 40px);
  }
}

