@import '../../styles/abstract/constants';
@import '../../styles/abstract/mixins';

.contacts {
  max-width: 1296px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__locationWrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.contacts__textWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  text-decoration: none;
  &_type {
    &_location {
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

.contacts__text {
  @include contactsText;
  margin: 0;
}

.contacts__textIcon {
  @include icon;
  &_type {
    &_mapPin {
      background-image: url("../../vendor/images/MapPin.svg");
    }
    &_TG {
      background-image: url("../../vendor/images/TG.svg");
    }
    &_clock {
      background-image: url("../../vendor/images/Clock.svg");
    }
  }
}

@media screen and (max-width: 1440px) {
  .contacts {
    max-width: calc(100% - 150px);
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    max-width: calc(100% - 172px);
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    max-width: 852px;
  }
}

@media screen and (max-width: 899px) {
  .contacts {
    display: none;
  }
}
